[package]
name = "embed_anything"

version = "0.1.14"
edition = "2021"

[dependencies]
openssl-sys = { version = "*", features = ["vendored"] }
serde_json = "1.0.112"
reqwest = { version = "0.12.2", features = ["json"] }
serde = {version = "1.0.196", features = ["derive"]}
pdf-extract = "0.7.4"
walkdir = "2.4.0"
regex = "1.10.3"
rayon = "1.8.1"
image = "0.25.1"
hf-hub = "0.3.2"
tokenizers = "0.15.2"
candle-nn = { git = "https://github.com/huggingface/candle.git", version = "0.5.0" }
candle-transformers = { git = "https://github.com/huggingface/candle.git", version = "0.5.0" }
candle-core = { git = "https://github.com/huggingface/candle.git", version = "0.5.0" }
anyhow = "1.0.81"
tokio = {version = "1.37.0", features=["rt-multi-thread", "macros"]}
pyo3 = { version = "0.21" }
intel-mkl-src = {version = "0.8.1", optional = true }

[dev-dependencies]
tempdir = "0.3.7"

[features]
mkl = ["dep:intel-mkl-src", "candle-nn/mkl", "candle-transformers/mkl", "candle-core/mkl"]
