[package]
name = "embed_anything"

version = "0.1.18"
version = "0.1.15"
edition = "2021"

[dependencies]
# Data Serialization
serde = { version = "1.0.196", features = ["derive"] }
serde_json = "1.0.112"

# HTTP Client
reqwest = { version = "0.12.2", features = ["json", "blocking"] }

# Filesystem
walkdir = "2.4.0"

# Regular Expressions
regex = "1.10.3"

# Parallelism
rayon = "1.8.1"

# Image Processing
image = "0.25.1"

# Natural Language Processing
tokenizers = "0.15.2"

# PDF Processing
pdf-extract = "0.7.4"

# Hugging Face Libraries
hf-hub = "0.3.2"
candle-nn = { git = "https://github.com/huggingface/candle.git", version = "0.5.0" }
candle-transformers = { git = "https://github.com/huggingface/candle.git", version = "0.5.0" }
candle-core = { git = "https://github.com/huggingface/candle.git", version = "0.5.0" }

# Error Handling
anyhow = "1.0.81"

# Asynchronous Programming
tokio = { version = "1.37.0", features = ["macros"] }

# Python Interoperability
pyo3 = { version = "0.21" }

# Optional Dependency
intel-mkl-src = { version = "0.8.1", optional = true }

# Markdown Processing
markdown-parser = "0.1.2"
markdown_to_text = "1.0.0"

# Web Scraping
scraper = "0.19.0"

# Text Processing
text-cleaner = "0.1.0"
url = "2.5.0"
chrono = "0.4.38"

[dev-dependencies]
tempdir = "0.3.7"

[features]
default = ["mkl"]
mkl = ["dep:intel-mkl-src", "candle-nn/mkl", "candle-transformers/mkl", "candle-core/mkl"]
