site_name: Starlight Search
site_url: https://starlight-search.com
repo_url: https://github.com/StarlightSearch/EmbedAnything
repo_name: StarlightSearch/EmbedAnything

theme:
  name: "material"
  logo: "assets/128x128.png"
  icon:
    repo: fontawesome/brands/github

  features:
    - search.suggest
    - search.highlight
    - navigation.instant
    - navigation.tracking
    - navigation.expand
    - navigation.sections
    - content.code.annotate
    - toc.follow
    - header.autohide
    - announce.dismiss

  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
        

    # Palette toggle for dark mode
    - scheme: slate
      primary: black
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
        
plugins:
  - mkdocstrings
  - search
  - blog:
      archive: false

nav:
- index.md
- references.md
- Blog: 
  - blog/index.md
- Guides:
  - Guides/colpali.md


markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

extra:
  analytics: 
    provider: google
    property: G-25WL8Y1K9Y
    feedback:
      title: Was this page helpful?
      ratings:
        - icon: material/emoticon-happy-outline
          name: This page was helpful
          data: 1
          note: >-
            Thanks for your feedback!
        - icon: material/emoticon-sad-outline
          name: This page could be improved
          data: 0
          note: >- 
            Thanks for your feedback! Help us improve this page by
            using our <a href="..." target="_blank" rel="noopener">feedback form</a>.