site_name: EmbedAnything Docs
theme:
  name: "material"
plugins:
- mkdocstrings

nav:
- index.md
- references.md

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences